# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
venv311/
env/
ENV/
.venv/

# Environment Variables
.env
.env.local

# Database
*.db
*.sqlite3

# Django
staticfiles/
media/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db